<%- include('partials/header') %>
    <main>
        <h1><%- title %></h1>
        <h2>Upcoming Service Projects</h2>
        
        <ul>
            <% if (projects && projects.length > 0) { %>
                <% projects.forEach(project => { %>
                    <li>
                        <strong>
                            <%- new Date(project.project_date).toLocaleDateString('en-US', { 
                                month: 'short', 
                                day: 'numeric', 
                                year: 'numeric' 
                            }) %>:
                        </strong> 
                        <%- project.title %> 
                        (<%- project.organization_name %>)
                    </li>
                <% }); %>
            <% } else { %>
                <li>No hay proyectos disponibles en este momento.</li>
            <% } %>
        </ul>
    </main>
<%- include('partials/footer') %>